@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #bb0dde;
    /* --main-color: #eb1e51; */
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    transition: background 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.colored {
    background: var(--bg-color);
}
.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3.3rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}
.logo span {
    transition: .4s ease-in-out;
}
.logo:hover span {
    text-shadow: 0 0 1rem var(--main-color);
}

.navbar a {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 20px;
    position: relative;
    color: #fff;
    transition: 0.3s;
}
.navbar a::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    box-shadow:1px 1px 17px 1px var(--main-color);
    border-radius: 25px;
}
.navbar a:hover::after {
    width: 100%;
}
.navbar a.active {
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)),url(../img/port4.jpg) no-repeat center center/cover;
  filter: blur(3px) brightness(90%); /* just for bg-img */
  z-index: 0;
}

.home-image {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

.home-image img { width: 50vw; }

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-2.4rem);
    }
    
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
    /* text-shadow: 0 0 .4rem var(--main-color); */
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--text-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: none;
    border-radius: 4rem;
    border: 2px solid var(--main-color);
    color: var(--text-bg-color);
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.cv {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: none;
    border-radius: 4rem;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 1.6rem;
    color: var(--text-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}

#menuIcon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img { width: 45vw; }

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.4;
}

.services {
    background-color: var(--second-bg-color);
}

.services h2 { margin-bottom: 5rem; }

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
}
.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.03);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.services-box h3 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.services-box p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 1rem 0 3rem;
}

.portfolio {
    background: var(--bg-color);
}

.portfolio h2 { margin-bottom: 4rem; }

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box {
    min-height: 210px;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: .7;
    object-fit: cover;
}
.portfolio-box:hover img {
    transform: scale(1.1);
    opacity: 0.4;
    filter: blur(4px);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .01), rgba(187, 13, 222, .8));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0%);
}

.portfolio-layer h4 { font-size: 3rem; }

.portfolio-layer p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid var(--text-color);
    border-radius: 4rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 7px 10px;
    transition: .3s ease-in-out;
}
.portfolio-layer a:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--text-color);
}

.contact {
    background-color: var(--second-bg-color);
}

.contact h2 { margin-bottom: 3rem; }

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.1rem;
    margin: 0.7rem 0;
    transition: all 0.4s ease;
}
.contact form .input-box input:focus,
.contact form textarea:focus {
    border-color:var(--main-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea { resize: vertical; }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text { font-size: 1.6rem; }

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border: 2px solid var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
    background: var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--text-color);
}

    /* BREAKPOINTS */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menuIcon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%; left: 0; width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-image img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-image img {
        width: 90vw;
    }

    .about-image img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
} 

.skills {
    padding: 80px 20px;
    background-color: var(--bg-color);
}

.skills h2 {
    margin-top: 2rem;
}

.skills .heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 4.4rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.skill-card {
    background-color: var(--second-bg-color);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 180px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
}
.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 100px #bb0ddea4;
}
.skill-card:hover img {
    transform: scale(1.1);
}
.skill-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    transition: .2s ease-in-out;
}
.skill-card h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.progress-container {
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    background-color: var(--main-color);
    height: 20px;
    width: 0%;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    transition: width 1s ease-in-out;
}


/*============ Spinner & Scrollbar styles ============*/

/* bar color */
#nprogress .bar {
  background: var(--main-color) !important;
}

/* spinner color(loading circle) */
#nprogress .spinner-icon {
  border-top-color: var(--main-color);
  border-left-color: var(--main-color);
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* thickness*/
}

::-webkit-scrollbar-track {
  background: var(--bg-color); /* bg */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e117e; /* hover */
}

/* for Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: var(--main-color) var(--bg-color);
}
